body {
  margin: 0;
  background: #222;
}

#message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#message span {
  display: block;
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-family: monospace;
  padding: 5px;

}

#time {
  position: absolute;
  background: #fff;
  color: #000;
  font-family: monospace;
  top: 0;
  right: 0;
  padding: 5px 10px;
  font-size: 20px;
}

#control {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

#request {
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
  color: #eee;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  outline: 0;
  border: 0;
}

#options {
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  color: #eee;
  font-family: monospace;
  font-size: 16px;
}

#options span {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  transition: all linear 0.1s;
}

#options span:hover {
  cursor: pointer;
  padding: 10px;
  background: rgba(255,255,255,0.2);
}

#line {
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -1000px;

}

.rame {
  background-image: url("./train.png");
}

#incoming, #departure {
  display: block;
  width: 600px;
  position: absolute;
  height: 200px;

  color: rgba(255,255,255,0.7);
  font-family: monospace;
  text-transform: uppercase;
  font-size: 18px;
}

#incoming .row, #departure .row {
  width: 100%;
  display: flex;
  justify-content:space-between;
  cursor: pointer;
}

.titre {
  border-bottom: 1px solid rgba(255,255,255,0.7);
  display: block;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.type {
  width: 100px;
}

.num {
  width: 40px;
}

.heure {
  width: 50px;
}

.ville {
  width: 340px;
}


.voie {
  width: 20px;
}

#lignesQuaiList span {
  position: absolute;
  font-family: monospace;
  z-index: 100;
}

.rame-label {
  cursor: pointer;
}

#train-img {

}

#train-img span {
  display: inline-block;
  position: absolute;
  width: 1200px;
  height: 40px;
  background-image: url("./train.png");
  top: ;
}
